<div class='footer'>
    <div class='container'><center>
        <p class='home-links'>
            <a target="_blank" href='mailto:maxwell.malone@gmail.com'><i class="fa fa-envelope-open-text"></i></a>
            <a target="_blank" href='https://www.ko-fi.com/maxwellmalone'><i class="fa fa-mug-hot"></i></a>
            <a target="_blank" href='https://twitter.com/maxwell_irl'><i class="fab fa-twitter"></i></a>
            <a target="_blank" href='https://facebook.com/maxwell.irl'><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href='https://reddit.com/u/-pianoteeth'><i class="fab fa-reddit-alien"></i></a>
            <a target="_blank" href='https://www.goodreads.com/mnmalone'><i class="fab fa-goodreads-g"></i></a>
        </p>
        <h6 style="color:#b2b2b2;"><span>© Maxwell Malone <strong>{{ site.time | date: '%Y' }}</strong>. Original theme by <a href="https://www.samsonzhang.com/"><u>Samson Zhang</u></a>.</span></color></h6>
    </center></div>
</div>