---
layout: default
---

<div class='about-container'>
    <div>
        <img src='{{ site.baseurl }}/img/main-portrait.jpg'>
    </div>
    <div class='home-hero-section'>
        <div class='divider'></div>

        <p class='home-hero'>My name is <strong>Maxwell Malone</strong>.<br>I write scary stories on the internet.</p>
        <!-- {% include home-links.html %}
        <div class='divider small'></div> -->

        <p>I'm a Horror & Weird Fiction author from the Upper Peninsula of Michigan currently masquerading as a Californian on the Central Coast. My work has appeared on the award-winning <a class="colored-link" href="https://www.thenosleeppodcast.com/">NoSleep Podcast</a>, <a class="colored-link" href="https://www.chillingtalesfordarknights.com/">Chilling Tales for Dark Nights</a>, and <a class="colored-link" href="/bibliography">various YouTube narration channels</a>.</p>
        
        <p>Here you'll find a bibliography of my work, a gallery of projects I've been involved with, and the occasional blog post.</p>
        
        <p class='thing-text'><i class="fas fa-mouse-pointer"></i> <b>Click an icon</b> below to connect with me, or <a class="colored-link" href="/mailing-list">join my <b>Mailing List</b>.</a></p>
        
        <script src='{{ site.baseurl }}/js/homecloud.js'></script>
        
    </div>
    <!-- <div class='work-experience'>
        <div class='work-item'>
            <div class='orgname'><span>The Phillipian</span></div>
            <div class='posname'><span>Executive Digital Editor</span></div>
            <div class='worktime'><span>January 2019 - January 2020</span></div>
            <p>The Phillipian is Phillips Academy's weekly, uncensored, student-run school paper, with a board of 80+ students. As Exec. Digital Editor, I serve as one of six Upper Management members, directly managing 20+ students of the digital board, including developers, designers, & videographers, & lead digital projects like SOTA, Plip Live, & more.</p>
        </div>
    </div>
    <div class='work-section'>
        {% include youtube-gen.html id='WplYyJehtOw' %}
    </div> -->
</div>