---
layout: default
---

<script src="https://use.typekit.net/bkt6ydm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<div class='backhome'><a href='{{ site.baseurl }}/'><i class="fas fa-arrow-left"></i> Back Home</a></div>
<div class='divider'></div>
<div class='about-container'>
    <div class='home-hero-section'>
          <p class='home-hero'><strong>Bibliography:</strong> an evolving timeline of my audio and print publications.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row example-split">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <ul class="timeline timeline-split">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2021</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 1, 2021</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"Spending Time with the Beast"<br>Interview with Darrin Doyle</h3>
                        <p class="event-text">Heavy Feather Review</p>
                        <a href="https://heavyfeatherreview.org/2021/10/01/aisle-34/" target="_blank"><button class="timeline-button timeline-button1">Read Here</button></a>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2020</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>December 31, 2020</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">Review of Rebecca Fishow's<br><i>The Trouble with Language</i></h3>
                        <p class="event-text">Heavy Feather Review</p>
                        <a href="https://heavyfeatherreview.org/2020/12/31/fishow/" target="_blank"><button class="timeline-button timeline-button1">Read Here</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>December 28, 2020</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"From Unusual Angles"<br>Interview with Matthew M. Bartlett</h3>
                        <p class="event-text">Heavy Feather Review</p>
                        <a href="https://heavyfeatherreview.org/2020/12/28/wxxt/" target="_blank"><button class="timeline-button timeline-button1">Read Here</button></a>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2019</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 29, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"This Halloween We Kept The<br>Lights Off, But They Still Came"</h3>
                        <p class="event-text">Read by GothicRose<br><br><b>Additional Productions</b><br>(Oct. 28, 2020) The Dark Somnium</p>
                        <a href="https://www.youtube.com/watch?v=FUaDMF6gY9c&t" target="_blank"><button class="timeline-button timeline-button1">GothicRose</button></a> <a href="https://www.youtube.com/watch?v=9nt5462ia6k" target="_blank"><button class="timeline-button timeline-button1">The Dark Somnium</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>January 19, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"Supermoon"</h3>
                        <p class="event-text">Chilling Tales for Dark Nights<br>Performed by Otis Jiry</p>
                        <a href="https://www.youtube.com/watch?v=YKYRgCmFFU4" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2018</h2>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>December 6, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title"><i>Worm Food</i></h3>
                        <p class="event-text">YARN - Chat & Text Stories<br>Continuation of <i>Sabrina: A Witch's Curse</i><br><i>Requires Purchase for Access</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.science.yarnapp&hl=en_US&gl=US" target="_blank"><button class="timeline-button timeline-button1">Google Play</button></a> <a href="https://apps.apple.com/us/app/yarn-chat-text-stories/id1195233335" target="_blank"><button class="timeline-button timeline-button1">Apple App Store</button></a>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>November 18, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"The Family Strega"</h3>
                        <p class="event-text">NoSleep Podcast: Season 11, Episode 25<br>Performed by Addison Peacock & Nikolle Doolin</p>
                        <a href="https://www.thenosleeppodcast.com/episodes/s11/11x25" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>November 7, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">Review of Orrin Grey's<br><i>Guignol & Other Sardonic Tales</i></h3>
                        <p class="event-text">Heavy Feather Review</p>
                        <a href="https://heavyfeatherreview.org/2018/11/07/guignol/" target="_blank"><button class="timeline-button timeline-button1">Read Here</button></a>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 25, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title"><i>Sabrina: A Witch's Curse</i></h3>
                        <p class="event-text">YARN - Chat & Text Stories<br><i>Requires Purchase for Access</i></p>
                        <a href="https://play.google.com/store/apps/details?id=com.science.yarnapp&hl=en_US&gl=US" target="_blank"><button class="timeline-button timeline-button1">Google Play</button></a> <a href="https://apps.apple.com/us/app/yarn-chat-text-stories/id1195233335" target="_blank"><button class="timeline-button timeline-button1">Apple App Store</button></a>
                    </div>
                </li>

                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>February 20, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title"><i>Congeria</i> Podcast</h3>
                        <p class="event-text"><b>Lead Writer on:</b><br>Episode 4: "Cloak Meets Dagger"<br>Episode 8: "Hunter, Hunting, Hunted"<br>Episode 9: "Paper Tigers"</p>
                        <a href="https://www.congeriapodcast.com/" target="_blank"><button class="timeline-button timeline-button1"><i>Congeria</i> Website</button></a> <a href="https://podcasts.apple.com/us/podcast/congeria/id1347351290?mt=2" target="_blank"><button class="timeline-button timeline-button1">Apple Podcasts</button></a><br><a href="https://www.shudder.com/series/watch/congeria-a-podcast-experience/3985477?season=1" target="_blank"><button class="timeline-button timeline-button1">Shudder</button></a>
                    </div>
                </li>                

                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2017</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>November 7, 2017</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"The Body Changes"</h3>
                        <p class="event-text">NoSleep Podcast: Suddenly Shocking, Volume 7<br><i>Requires Purchase of Season Pass 9</i><br><br><b>Additional Productions</b><br>(Mar. 3, 2018) Aural Stimulation</p>
                           <a href="https://www.thenosleeppodcast.com/season-pass-op/season-pass-9" target="_blank"><button class="timeline-button timeline-button1">NoSleep Podcast</button></a> <a href="https://www.youtube.com/watch?v=puhhYPT-3Sc&t" target="_blank"><button class="timeline-button timeline-button1">Aural Stimulation</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>August 28, 2017</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"The Children of Peculiar"</h3>
                        <p class="event-text">Chilling Tales for Dark Nights<br>Performed by Mary Naugle</p>
                           <a href="https://www.youtube.com/watch?v=oM0Ft6eDn3g" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2016</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>February 3, 2016</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"How to Meet a Lover Online"</h3>
                        <p class="event-text">The Scarecast: Season 1, Episode 24<br>Read by MaddMike<br><br><b>Additional Productions</b><br>(Feb. 14, 2016) Horrific<br>(Apr. 25, 2016) Chilling Tales for Dark Nights</p>
                          <a href="https://maddmike.libsyn.com/episode-24-18-very-graphic-how-to-meet-a-lover-online-online-dating-horror-scary-love-story-2" target="_blank"><button class="timeline-button timeline-button1">The Scarecast</button></a> <a href="https://www.youtube.com/watch?v=od0Fhs3DumM&t" target="_blank"><button class="timeline-button timeline-button1">Horrific</button></a> <a href="https://www.youtube.com/watch?v=oJtSF9hz3S0" target="_blank"><button class="timeline-button timeline-button1">Chilling Tales for Dark Nights</button></a>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2015</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 31, 2015</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"The Boy in the Skeleton Suit"</h3>
                        <p class="event-text">Read by Tay Zonday</p>
                          <a href="https://www.youtube.com/watch?v=XGnZXJuhGa0&feature=youtu.be" target="_blank"><button class="timeline-button timeline-button1">Watch Here</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>October 25, 2015</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"One Night, in Slawson Furnace"</h3>
                        <p class="event-text">NoSleep Podcast: Season 6, Episode 5<br>Performed by Mike DelGaudio & Jessica McEvoy</p>
                          <a href="https://www.thenosleeppodcast.com/episodes/s6/6x05" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>September 20, 2015</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"The Strange Death of Arthur Warden"</h3>
                        <p class="event-text">NoSleep Podcast: Season 6, Episode 1<br>Performed by Mike DelGaudio & Nikolle Doolin</p>
                        <a href="https://www.thenosleeppodcast.com/episodes/s6/6x01" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>August 9, 2015</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"Midnight in the Pendulum House"</h3>
                        <p class="event-text">NoSleep Podcast: Season 5, Episode 24<br>Performed by Mike DelGaudio</p>
                        <a href="https://www.thenosleeppodcast.com/episodes/s5/5x24" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>March 22, 2015</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"The Splash"</h3>
                        <p class="event-text">NoSleep Podcast: Season 5, Episode 6<br>Performed by David Cummings</p>
                        <a href="https://www.thenosleeppodcast.com/episodes/s5/5x06" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>March 1, 2015</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"Flight 370"</h3>
                        <p class="event-text">NoSleep Podcast: Season 5, Episode 4<br>Performed by David Cummings</p>
                        <a href="https://www.thenosleeppodcast.com/episodes/s5/5x04" target="_blank"><button class="timeline-button timeline-button1">Listen Here</button></a>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">2014</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>December 16, 2014</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="event-title">"Radio Silence"</h3>
                        <p class="event-text">Read by CreepyPastaJr (ft. CreepsMcPasta)<br><br><b>Additional Productions</b><br>(Feb. 8, 2015) NoSleep Podcast: Season 5, Episode 1<br>(Apr. 6, 2015) Otis Jiry</p>
                        <a href="https://www.youtube.com/watch?v=BKzcTyiki8I" target="_blank"><button class="timeline-button timeline-button1">CreepyPastaJr</button></a> <a href="https://www.thenosleeppodcast.com/episodes/s5/5x01" target="_blank"><button class="timeline-button timeline-button1">NoSleep Podcast</button></a><br><a href="https://www.youtube.com/watch?v=doGNR6gW6FE" target="_blank"><button class="timeline-button timeline-button1">Otis Jiry</button></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
